<footer id="footer" class="p-3 text-center">
    &copy; 2019 <a href="{:url('/')}">{:config('app.WEB_SITE_NAME')}</a>.
    由 <a href="http://www.thinkphp.cn">thinkphp6强力驱动</a> 。
    {php}$WEB_SITE_ICP = config('app.WEB_SITE_ICP');{/php}
    <br>
    <a href="http://www.cuplayer.com/cloud" style="font-size: 40px" target="_blank">
    网站视频技术由<img src="__HOME_IMG__/cuplayer_logo_mini.jpg" alt="酷播云" class="h-10 inline-block">提供支持</a>
    <br>
	<a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener noreferrer"><img src="__HOME_IMG__/beian.png" class="inline-block">{:config('app.web_site_icp')}</a>
</footer><!-- end #footer -->