{if $navbar}
<nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg navbar navbar-expand-lg navbar-light">
	<div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
		<nav class="bg-grey-light rounded-md w-full" aria-label="breadcrumb">
			<ol class="list-reset flex">
				{volist name="items_loop" id="li"}
				{if $i == count($items_loop)}
				<li class="text-gray-500">{$li.text}</li>
				{else /}
				<li>
					{if $li.type=='a'}
					<a href="{$li.href}" class="text-gray-500 hover:text-gray-600" one-link-mark="yes">{$li.text}</a>
					{else /}
					<span class="text-gray-500 mx-2">{$separator}</span>
					{/if}
				</li>
				{/if}
				{/volist}
			</ol>
		</nav>
	</div>
</nav>
{else /}
<nav class="{if $background}bg-gray-100 px-5 py-3{else /}bg-grey-light{/if} rounded-md w-full">
	<ol class="list-reset flex">
		{volist name="items_loop" id="li"}
		{if $i == count($items_loop)}
		<li class="text-gray-500">{$li.text}</li>
		{else /}
		<li>
			{if $li.type=='a'}
			<a href="{$li.href}" class="text-blue-600 hover:text-blue-700" one-link-mark="yes">{$li.text}</a>
			{else /}
			<span class="text-gray-500 mx-2">{$separator}</span>
			{/if}
		</li>
		{/if}
		{/volist}
	</ol>
</nav>
{/if}