<div class="form-check {if $inline}form-check-inline {/if}">
    {if $label}
    <label class="" for="{$id}">{$label}</label>
    {/if}
    {volist name="form[type].options" id="option"}
    <label class="form-check-label inline-block text-gray-800">
        <input name="{$name}[]" id="{$name}{$key}" class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" {php}$key = (string)$key;{/php}value="{$key}" id="{$id}" {in name="key" value="$value|default=''"}checked{/in} />
    </label>
    {/volist}
</div>