{switch type}
{case h1}
<h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">{$text}</h1>
{/case}
{case h2}
<h2 class="font-medium leading-tight text-4xl mt-0 mb-2 text-blue-600">{$text}</h2>
{/case}
{case h3}
<h3 class="font-medium leading-tight text-3xl mt-0 mb-2 text-blue-600">{$text}</h3>
{/case}
{case h4}
<h4 class="font-medium leading-tight text-2xl mt-0 mb-2 text-blue-600">{$text}</h4>
{/case}
{case h5}
<h5 class="font-medium leading-tight text-xl mt-0 mb-2 text-blue-600">{$text}</h5>
{/case}
{default /}
<h6 class="font-medium leading-tight text-base mt-0 mb-2 text-blue-600">{$text}</h6>
{/switch}