<div class="form-floating mb-3 xl:w-96">
  	<input type="{$type}" 
      name="{$name}"
      class="form-control
      block
      w-full
      px-3
      py-1.5
      {$size}
      font-normal
      text-gray-700
      bg-white bg-clip-padding
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="{$id}" placeholder value="{$value}" {if $required} required{/if} {if $disabled} disabled {/if} {if $readonly} readonly {/if} />
    {if $type !='hidden'}
  	<label for="{$id}" class="text-gray-700">{$label}</label>
    {/if}
</div>