{foreach $options as $k=>$option }
<div class="form-check {if $inline}form-check-inline {/if}">
    <input class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2" type="radio" name="{$name}" id="{$id}" {if $disabled}disabled{/if} value="{$k}" {if $k == $value} checked {/if}/>
    <label class="form-check-label inline-block text-gray-800 opacity-50" for="{$id}">
    {$option}
    </label>
</div>
{/foreach}
