<div class="form-check form-switch">
	<label class="text-gray-800 float-left -ml-10" for="{$id}">{$label}</label>
	<input class="form-control form-check-input appearance-none w-9 ml-5 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm" type="checkbox" role="switch" id="{$id}" {if $value== $checkValue} checked="checked" {/if} name="{$name}_check" yoyo:post="toggle({$value})"  />
	<input type="hidden" name="{$name}" value="{$value}" class="form-control" />
</div>