{if $action}
<div class="flex flex-col">
	<div class="overflow-x-auto sm:-mx-6 lg:-mx-16">
		<div class="py-2 inline-block min-w-full sm:px-6 lg:px-16">
			<div class="actions">
				{if $add}
				{:Yoyo\\yoyo_render('button', ['text'=>'添加', 'href'=>strtolower(admin_url('add'))])}
				{/if}
			</div>
			<div class="form-outline mb-4">
              <input type="text" name="keyword" class="form-control" id="{$id}-search-input" yoyo:post="render" value="{$keyword}" yoyo:on="keyup delay:300ms changed" />
              <label class="form-label" for="{$id}-search-input" style="margin-left: 0px;">搜索</label>
            	<div class="form-notch">
            		<div class="form-notch-leading" style="width: 9px;"></div>
            		<div class="form-notch-middle" style="width: 47.2px;"></div>
            		<div class="form-notch-trailing"></div>
            	</div>
            </div>
			<div class="overflow-hidden">
				<table class="{$column_width == 'auto'?'table-auto':'table-fixed'} min-w-full {if $border} border{/if}">
					<thead class="{$theader_color} border-b">
						<tr>
							{if $checkble}
							<th scope="col">
								<div class="form-check text-center mb-0">
								    <input class="datatable-header-checkbox form-check-input" type="checkbox" yoyo:on="change" yoyo:get="checkAll({$check})" {if $check == 0} checked {/if}/>
							  	</div>
							</th>
							{/if}
							{volist name="render_column" id="column"}
							<th scope="col" class="text-sm font-medium text-gray-900 px-6 py-{$min?2:4} text-left {if $border} border-r{/if}">{$column.title?? $column.name}</th>
							{/volist}
							<th scope="col" class="text-sm font-medium text-gray-900 px-6 py-{$min?2:4} text-left {if $border} border-r{/if}">操作</th>
						</tr>
					</thead>
					<tbody>
						{volist name="render_data" id="row"}
						{php}$mod = $key % 2;{/php}
						<tr class="{if $striped}{if $mod ==0} bg-white {else /} bg-gray-100 {/if}{else /} bg-white {/if}
						border-b {if $border} border-r{/if}">
							{if $checkble}
							<td scope="col">
								<div class="form-check text-center mb-0">
								    <input class="datatable-header-checkbox form-check-input" type="checkbox" yoyo:on="change" yoyo:get="checkToggle({$row[$pk]})" {if in_array($row[$pk], $checked)} checked {/if}>
							  	</div>
							</td>
							{/if}
							{volist name="row" id="column"}
							<td class="px-6 py-{$min?2:4} whitespace-nowrap text-sm font-light text-gray-900 {if $border} border-r{/if}">{$column}</td>
							{/volist}
							<td>
								{if $edit}
								{:Yoyo\\yoyo_render('link', ['text'=>'编辑', 'href'=>strtolower(admin_url('edit', ['id'=>$row[$pk]]))])}
								{/if}
								{if $delete}
								{:Yoyo\\yoyo_render('link', ['text'=>'删除', 'href'=>strtolower(admin_url('delete', ['id'=>$row[$pk]]))])}
								{/if}
							</td>
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{else /}
<div class="flex flex-col">
	<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
		<div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
			<div class="overflow-hidden">
				<table class="{$column_width == 'auto'?'table-auto':'table-fixed'} min-w-full {if $border} border{/if}">
					<thead class="{$theader_color} border-b">
						<tr>
							{volist name="render_column" id="column" }
							<th scope="col" class="text-sm font-medium text-gray-900 px-6 py-{$min?2:4} text-left {if $border} border-r{/if}">
								{$column.title?? $column.name}
							</th>
							{/volist}
						</tr>
					</thead>
					<tbody>
						{volist name="render_data" id="row"}
						{php}$mod = $key % 2;{/php}
						<tr class="{if $striped}{if $mod ==0} bg-white {else /} bg-gray-100 {/if}{else /} bg-white {/if}
						border-b {if $border} border-r{/if}">
							{volist name="row" id="column"}
							<td class="px-6 py-{$min?2:4} whitespace-nowrap text-sm font-light text-gray-900 {if $border} border-r{/if}">{$column}</td>
							{/volist}
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{/if}
<div>
	{if $paginate}{$paginate}{/if}
</div>