{extend name="base" /}

{block name="content"}

<div class="ml-64">
	{:yoyo_render('input', ['name'=>'id', 'value'=>$form_data['id'], 'type'=>'hidden'])}
	{:yoyo_render('input', ['name'=>'module', 'label'=>'所属模块', 'value'=>$form_data['module']])}
	{:yoyo_render('select', ['name'=>'pid', 'label'=>'所属节点', 'options'=>$parents, 'value'=>$form_data['pid']])}
	{:yoyo_render('input', ['name'=>'title', 'label'=>'节点标题','type'=>'text', 'value'=>$form_data['title']])}
	{:yoyo_render('radio', ['name'=>'url_type', 'label'=>'链接类型', 'options'=>['module_admin' => '模块链接(后台)', 'module_home' => '模块链接(前台)', 'link' => '普通链接'], 'value'=>'module_admin', 'inline'=>true, 'value'=>$form_data['url_type']])}
	{:yoyo_render('input', ['name'=>'url_value', 'label'=>'节点链接','type'=>'text', 'value'=>$form_data['url_value']])}
	{:yoyo_render('input', ['name'=>'params', 'label'=>'参数, 如：a=1&b=2', 'value'=>$form_data['params']])}
	{:yoyo_render('radio', ['name'=>'url_target', 'label'=>'打开方式', 'options'=>['_self' => '当前窗口', '_blank' => '新窗口'], 'value'=>$form_data['url_target'], 'inline'=>true])}
	{:yoyo_render('radio', ['name'=>'online_hide', 'label'=>'网站上线后隐藏 关闭开发模式后，则隐藏该菜单节点', 'options'=>['否', '是'], 'value'=>$form_data['online_hide'], 'inline'=>true])}

	<div class="clear-both mt-12">
		<button type="submit" class="ajax-post inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" target-form="form-control">提交</button>
	</div>
</div>

{/block}