{extend name="base" /}

{block name="content"}

<div class="ml-64">
	<div class="p-4">
	  	<ul class="md:flex-row nav nav-tabs flex flex-col flex-wrap list-none border-b-0 pl-0 mb-4" id="add-tab"
	    role="tablist">
		    {volist name="tab_list" id="item"}
		    <li class="nav-item" role="presentation">
		      <a href="{$item.url|admin_url|strtolower}" class="
		        nav-link
		        block
		        font-medium
		        text-xs
		        leading-tight
		        uppercase
		        border-x-0 border-t-0 border-b-2 border-transparent
		        px-6
		        py-3
		        my-2
		        hover:border-transparent hover:bg-gray-100
		        focus:border-transparent
		        {if $key == $group}
		        active
		        {/if}
		      " id="form_config-{$key}-tab" role="tab" aria-controls="form_config-{$key}"
		        aria-selected="true">{$item.title}</a>
		    </li>
		    {/volist}
	 	 </ul>
	  	<div class="tab-content" id="add-tabContent">
	    <div class="tab-pane fade show active" id="add-0" role="tabpanel" aria-labelledby="add-1-tab">
			{:Yoyo\\yoyo_render('table', [
		        'data'         => [],
		        'add'          => ['href'=>strtolower(admin_url('add', ['group'=>$group]))],
		        'model'        => '\\app\\admin\\model\\Config',
		        'edit'         => true,
		        'delete'       => true,
		        'list_rows'    => 10,
		        'column_width' => 'fixed',
		        'search_keys'  => ['title', 'name'],
		        'pageQuery'    => ['group'=>$group],
		  	])}
	    </div>
	  	</div>
	</div>

  	
</div>

{/block}