{extend name="base" /}

{block name="content"}

<div class="text-center bg-white border-t border-l border-r rounded-5  ">
	欢迎
	<div class="flex space-x-2 justify-center">
	  <button type="button" id="preview" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">预览</button>
	</div>
</div>


{/block}

{block name="script"}
<script type="text/javascript">
	jQuery(function(){
		/* 获取插件nengjj示例 */
        var instance = nengjj.getInstance();

        /* 
        * 检查license是否安装，如没有则安装。
        * 如果没有连接到插件服务器，提示插件未启动，安装插件
        */
        instance.readLicense(
            function(res){
                console.log(res);
                if(!res) {
                    // var license = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHQiOiIqIiwiZXhwIjoxNzM4NDk4NDE2NCwiaWF0IjoxNjA2NTI5NzY0LCJpZCI6IjFlYjMxMjA0Y2ZjNTZlNGM5OTUyMDI0MmFjMTIwMDAzIiwibW9kIjoicHJpbnQscHJpbnQtaHRtbCxwcmludC1wZGYiLCJuYW1lIjoi5LqR6IO96YeP5Zyo57q_5ryU56S6Iiwic3ZyIjoibmVuZ2pqLmNvbSx3d3cubmVuZ2pqLmNvbSJ9.FV6slczB4Eu6JtDrVjeuZC9SXbajNWwQ1LwfPSnW424";
                    // var license = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHQiOiIqIiwiZXhwIjoxNjc0NDUzNzI1LCJpYXQiOjE2NzE4NjE3MjUsImlkIjoiMWVkODM1MDdlMDY5NmFmYWE0NjUwMjQyYWMxMjAwMDIiLCJtb2QiOiJwcmludCxwcmludC1odG1sLHByaW50LXBkZiIsIm5hbWUiOiLplYfmsZ_kuIfov6rnk6bnp5HmioDmnInpmZDlhazlj7giLCJzdnIiOiIxMjIuNTEuMjE2LjE0NiJ9.BIx-xm4Bt163CPRzF3mN1p9sIfa21x_9pd8BPKtpM3U";
                    var license = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjbHQiOiIqIiwiZXhwIjoxNjc0NDYwMTM0LCJpYXQiOjE2NzE4NjgxMzQsImlkIjoiMWVkODM1ZjZhMGMxNmI3ZWI2OTIwMjQyYWMxMjAwMDIiLCJtb2QiOiJwcmludCxwcmludC1odG1sLHByaW50LXBkZiIsIm5hbWUiOiLplYfmsZ_kuIfov6rnk6bnp5HmioDmnInpmZDlhazlj7giLCJzdnIiOiJ5b3lvLnlhbmd3ZWlqaWUuY24ifQ.pocjsvewssZp2wTHZ0KzbAhHQazAzVxPbZwDHJIw_kc";
                    instance.installLicense(license, null, function(st, text){
                        console.log(st + ":" + text);
                        alert(text);
                    });
                }
            },
            function(st, text){
                console.log(st + ":" + text);
                if(st == 0) {
                    $("#download-confirm").addClass("is-active");
                } else {
                    alert(text);
                }
            }
        );
		jQuery('#preview').on('click', function(){
			 var doc = {
                name: "Html内容示例",
                type: "html",
                content: "<style>body{margin:0;padding:0;}</style><div style='color: red; font-weight:bold;'>Hello，您好</div></div>",
                option: {
                    // orientation: "landscape",
                    marginTop: 10, //毫米
                    marginBottom: 10, //毫米
                    marginLeft: 10, //毫米
                    marginRight: 10 //毫米
                }
            };
            var onsuccess = function(result) {
                // $(".btn-print.is-loading").removeClass("is-loading");
                console.log(result);
            };
            var onerror = function(st, text){
                window.currentDocId = undefined;
                // $(".btn-print.is-loading").removeClass("is-loading");
                console.log(st + ":" + text);
                if(st == 0) {
                    // $("#download-confirm").addClass("is-active");
                } else {
                    alert(text);
                }
            };
            window.currentDocId = instance.print.printPreview(doc, onsuccess, onerror); 
		});

	});
</script>
{/block}